:root {
  --primary-color: #23a6f0;
  --secondary-color-1: #40bb15;
  --secondary-color-2: #3c403d;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --dark-background-color: #252b42;
  --light-background-color: #ffffff;
  --hover-color: #2a7cc7;
  --disabled-element-color: #8ec2f2;
  --muted-color: #bdbdbd;
  --success-color: #2dc071;
  --alert-color: #e77c40;
  --danger-color: #e74040;
  --light-gray-1: #fafafa;
  --light-gray-2: #ececec;
}

body {
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
  scrolling-behavior: smooth;
}

h1 {
  font-weight: 800;
  font-size: clamp(40px, calc(2.5rem + ((1vw - 4.78px) * 1.2483)), 58px);
  min-height: 0vw;
  line-height: clamp(55px, calc(3.4375rem + ((1vw - 4.78px) * 1.7337)), 80px);
  letter-spacing: 0.2px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.1px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.btn-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: var(--light-text-color);
}

.mobile-menu {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.2px;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.list {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
}

.link:hover {
  border-bottom: 2px solid var(--primary-color);
}

header,
section,
footer {
  display: flex;
  justify-content: center;

  @media (max-width: 478px) {
    & {
      padding-inline: 1rem;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
  }
}

section {
  min-height: 100vh;
}

nav {
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    @media (max-width: 978px) {
      & {
        display: none;
      }
    }
  }

  .navbar-toggler {
    display: none;

    @media (max-width: 978px) {
      & {
        display: block;
      }
    }
  }
}

.btn {
  cursor: pointer;
  margin-block: 0.75rem;
}

.btn-primary-color {
  background-color: var(--primary-color);
  padding: 0.75rem 2.5rem;
  border: none;
}

.btn-primary-color:hover {
  background-color: var(--hover-color);
}

.btn-rounded {
  border-radius: 50px;
}

.btn-outline {
  background-color: unset;
  border: 1px solid var(--light-text-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  align-self: center;
  justify-self: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.hero {
  .hero-col1,
  .hero-col2 {
    flex: 1;
  }

  .hero-col2 {
    text-align: center;
  }

  .hero-col1 h1 {
    margin-top: 4rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .container::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/hero-shape-right.svg") no-repeat right;
    z-index: -1;
  }

  .hero-cta {
    margin-block: 2rem;

    @media (max-width: 478px) {
      & {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-block: 1rem;
      }
    }
  }

  @media (max-width: 478px) {
    .container::before {
      display: none;
    }
    .hero-col2 {
      position: relative;
    }

    .hero-col2::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      background: url("../img/hero-shape-right.svg") no-repeat center center;
      background-size: cover;
      z-index: -1;
    }

    .container {
      flex-direction: column;
    }
  }
}

.hero-image {
  max-height: 580px;
  max-width: 510px;
}

.features {
  gap: 5rem;

  @media (max-width: 478px) {
    & {
      margin-top: 5rem;
    }
  }

  .main-content {
    text-align: center;

    h2 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 2rem;
      color: var(--primary-color);
    }
  }

  .feature-cards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media (max-width: 478px) {
      & {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
      }
    }

    .feature-card {
      gap: 1rem;
      border: 1px solid var(--light-gray-1);
      border-radius: 5px;
      padding: 2rem;

      .card-image {
        display: -ms-grid;
        display: grid;
        place-items: center;
      }

      .card-content h5 {
        margin-bottom: 0.75rem;
      }
    }
  }
}

.video {
  min-height: unset;
  margin-block: 5rem;

  .yt-video-frame {
    border: none;
    width: 1280px;
    height: 720px;
  }
}

.testimonals {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .main-content {
    text-align: center;
  }

  .testimonial-box {
    height: 100%;
    width: 100%;
    background-color: var(--light-gray-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 6rem;

    .testimonial-avatar {
      width: 120px;
    }

    .testimonial-text {
      max-width: 400px;
      text-align: center;
    }

    .testimonial-name {
      text-align: center;
    }

    h3,
    h6,
    p {
      color: var(--text-color);
    }
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .main-content {
    text-align: center;
  }

  .pricing-boxes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;

    .pricing-box {
      display: flex;
      flex-direction: row;
      color: var(--primary-color);
      background-color: var(--light-gray-1);
      padding: 2rem;
      max-width: 400px;
      border-radius: 10px;
      gap: 2rem;

      .pricing-box-col1 {
        flex: 1;

        p {
          color: var(--text-color);
        }
      }

      .pricing-box-col2 {
        flex: 1;

        .price-wrapper {
          display: flex;
          flex-direction: row;
          gap: 1rem;
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding-block: 4rem;

  .container.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    & > * {
      flex: 1;
    }

    .col-2 {
      text-align: center;
      width: 100%;

      img {
        @media (max-width: 478px) {
          & {
            width: 350px;
          }
        }
      }
    }
  }

  .container.form {
    @media (min-width: 768px) {
      & {
        width: 100%;
        max-width: 100vw;
        min-height: 700px;
        background-color: var(--light-gray-1);
        display: flex;
        justify-content: center;
      }
    }

    @media (max-width: 478px) {
      & {
        padding: 1rem;
      }
    }

    .form-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 850px;
      max-height: 600px;
      margin-top: -100px;

      & > * {
        flex: 1;
      }

      @media (max-width: 478px) {
        & {
          flex-direction: column;
          min-width: unset;
          min-height: unset;
        }
      }

      .contact-cover {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        &.mobile {
          background-image: url("../img/contact-cover-mobile.png");
          height: 200px;

          @media (min-width: 478px) {
            display: none;
          }
        }

        &.desktop {
          background-image: url("../img/contact-cover-desktop.png");

          @media (max-width: 478px) {
            display: none;
          }
        }
      }

      .form-main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
        background-color: white;

        @media (max-width: 478px) {
          padding: 1.5rem;
        }

        .form-title {
          color: var(--text-color);
        }

        .form-item {
          margin-bottom: 2rem;
        }

        .label-base {
          font-size: 0.75rem;
          font-weight: bold;
          color: var(--text-color);
        }

        .form-group input,
        .form-group select {
          padding: 0.5rem;
          border-radius: 5px;
          border: 1px solid var(--muted-color);
          background-color: var(--light-gray-1);
          margin-top: 0.5rem;
          width: 100%;
          height: 3rem;
        }

        input::placeholder {
          color: var(--text-color);
          opacity: 0.75;
          font-size: 0.75rem;
        }

        input:focus,
        select:focus {
          outline-color: var(--secondary-color-1);
        }

        input[type="submit"] {
          padding: 1rem 2rem;
          background-color: var(--primary-color);
          border: none;
          border-radius: 10px;
          color: #fff;
          font-size: 1rem;
          cursor: pointer;
          width: 100%;
        }

        input[type="submit"]:hover {
          background-color: var(--hover-color);
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;

    & > * {
      flex: 1;
    }
  }

  .footer-col-wrapper {
    h3 {
      margin-block: 1rem;
    }

    .footer-nav-link {
      margin-block: 0.5rem;
    }

    .social-icons {
      cursor: pointer;
      margin-block: 1rem;
    }
  }

  .footer-banner-madeby {
    background-color: var(--light-gray-1);
    width: 100%;
    color: var(--text-color);
    text-align: center;
    padding-block: 1rem;

    a {
      font-size: 0.85rem;
    }
  }

  .footer-credits {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
